*.o
*~
.deps/
Makefile
Makefile.in
aclocal.m4
configure
autom4te.cache/
config.h.in
config.h
config.log
config.status
lyx.1
stamp-h1
src/lyxcore.cpp
src/lyxinsets.cpp
src/lyxmathed.cpp
src/client/lyxclient.cpp
