*.o
*~
.deps/
Makefile
Makefile.in
aclocal.m4
configure
autom4te.cache/
config.h.in
config.h
config.log
config.status
lyx.1
.history
stamp-h1
*.old
*.bak
*.patch
build/
CMakeLists.txt.user
.dirstamp
/src/tex2lyx/test/*.lyx.tex
src/lyx_commit_hash.h
src/moc_PreviewLoader.cpp
src/support/moc_ConsoleApplicationPrivate.cpp
src/support/moc_FileMonitor.cpp
