// -*- C++ -*-
/*
 * \file ControlDialog.tmpl
 * Copyright 2002 the LyX Team
 * Read the file COPYING
 *
 * \author Angus Leeming <a.leeming@ic.ac.uk>
 *
 * ControlDialog is a base class and so these templatised methods will be
 * instantiated if this file is #included in the derived classes' .C file.
 */

#include "ControlDialog.h"
#include "ButtonControllerBase.h"
#include "ControlConnections.h"
#include "frontends/LyXView.h"
#include "BufferView.h"
#include "ViewBase.h"
#include "debug.h"

template <class Base>
ControlDialog<Base>::ControlDialog(LyXView & lv, Dialogs & d)
	: Base(lv, d), dialog_built_(false)
{}


template <class Base>
void ControlDialog<Base>::show()
{
	if (isBufferDependent() && !lv_.view()->available())
		return;

	connect();

	setParams();
	if (emergency_exit_) {
		hide();
		return;
	}

	if (!dialog_built_) {
		view().build();
		dialog_built_ = true;
	}

	bc().readOnly(isReadonly());
	view().show();
}

template <class Base>
void ControlDialog<Base>::update()
{
	if (isBufferDependent() && !lv_.view()->available())
		return;

	setParams();
	if (emergency_exit_) {
		hide();
		return;
	}

	bc().readOnly(isReadonly());
	view().update();
}

template <class Base>
void ControlDialog<Base>::hide()
{
	emergency_exit_ = false;
	clearParams();

	disconnect();
	view().hide();
}
