/* Icons */
IDI_ICON1 ICON DISCARDABLE    "lyx_32x32.ico"
IDI_ICON2 ICON DISCARDABLE    "lyx_doc_32x32.ico"

#include "config.h"
#include <winver.h>

#ifdef _WIN32
#define PLATFORM "Windows"
#define PRODNAME "LyX/Win"
#else
#define PLATFORM "Cygwin"
#define PRODNAME "LyX/Cygwin"
#endif

#if LYX_RELEASE_PATCH > 0
#define PATCH_TAG ".LYX_RELEASE_PATCH"
#else
#define PATCH_TAG ""
#endif

LANGUAGE 0x9, 0x1	/* LANG_ENGLISH, SUBLANG_DEFAULT */

VS_VERSION_INFO VERSIONINFO
FILEVERSION     LYX_MAJOR_VERSION,LYX_MINOR_VERSION,LYX_RELEASE_LEVEL,LYX_RELEASE_PATCH
PRODUCTVERSION  LYX_MAJOR_VERSION,LYX_MINOR_VERSION,LYX_RELEASE_LEVEL,LYX_RELEASE_PATCH
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0x0L
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0x0L
{
    BLOCK "StringFileInfo"
    {
	BLOCK "040904b0"
	{
	    VALUE "FileDescription",  "LyX for " PLATFORM "\0"
	    VALUE "OriginalFilename", "lyx.exe\0"
	    VALUE "CompanyName",      "LyX Team\0"
	    VALUE "FileVersion",      "LYX_MAJOR_VERSION.LYX_MINOR_VERSION.LYX_RELEASE_LEVEL" PATCH_TAG "\0"
	    VALUE "InternalName",     "LyX\0"
	    VALUE "LegalCopyright",   "Copyright \251 1995 by Matthias Ettrich, 1995-2008 LyX Team\0"
	    VALUE "ProductName",      PRODNAME "\0"
	    VALUE "ProductVersion",   PACKAGE_VERSION "\0"
	}
    }
    BLOCK "VarFileInfo"
    {
	VALUE "Translation", 0x409, 1200
    }
}

